@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header nav .logo img {
  height: 2.5rem;
}
header nav .nav-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header nav .nav-bar .dropdown {
  position: relative;
}
header nav .nav-bar .dropdown .dropbtn {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}
header nav .nav-bar .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header nav .nav-bar .dropdown .dropdown-content a {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  color: black;
  text-align: left;
}
header nav .nav-bar .dropdown .dropdown-content a img {
  margin-right: 8px;
  height: 1rem;
}
header nav .nav-bar .dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}
header nav .nav-bar .dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 1170px) {
  header nav .nav-bar {
    display: none;
  }
}
header nav .nav-buttons {
  display: flex;
  gap: 1.5rem;
}
header nav .nav-buttons .btn-login,
header nav .nav-buttons .btn-register {
  background-color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
header nav .nav-buttons .btn-register {
  border: 2px solid black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
}
header nav #mobile_btn {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media screen and (max-width: 1170px) {
  header nav #mobile_btn {
    display: block;
  }
}
header #mobile_menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 5rem;
  width: 100%;
  padding: 1rem;
}
header #mobile_menu.active {
  display: flex;
}
header #mobile_menu #mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  text-align: center;
}
header #mobile_menu #mobile_nav_list .nav-item {
  font-size: 1rem;
}
header #mobile_menu #mobile_nav_list .nav-item a {
  color: black;
  font-weight: 500;
}

main #container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 7dvh 4dvh;
}
main #container .text {
  flex: 1;
  justify-content: center;
  align-items: center;
}
main #container .text .main-title {
  font-size: 6rem;
  margin-top: 20dvh;
  font-family: "Epilogue", serif;
}
main #container .text .paragraph {
  font-family: "Epilogue", serif;
  font-size: 1.5rem;
  margin-top: 15dvh;
  color: hsl(0, 0%, 41%);
}
main #container .text .btn-learn {
  cursor: pointer;
  margin-top: 6dvh;
  border: 2px solid black;
  border-radius: 2dvh;
  background-color: white;
  width: 20dvh;
  height: 7dvh;
  font-family: "Epilogue", serif;
  margin-bottom: 37dvh;
}
main #container .photo {
  flex: 1;
}
main #container .photo .photography {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 480px) {
  #container {
    display: flex;
    flex-direction: column !important;
    margin: 2dvh 2dvh !important;
    padding: 1dvh 1dvh !important;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .text {
    flex: 1;
    margin: 2dvh 2dvh !important;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .main-title {
    font-size: 4rem !important;
    margin-top: 2dvh !important;
    text-align: center;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .paragraph {
    font-size: 1.2rem;
    margin-top: 2dvh !important;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .btn-learn {
    margin-bottom: 3dvh !important;
  }
}
@media screen and (max-width: 480px) and (max-width: 480px) {
  .icon {
    display: flex !important;
    gap: 1dvh !important;
    margin: 1dvh 1dvh !important;
  }
}/*# sourceMappingURL=styles.css.map */